{% extends "base.html.twig" %}

{% block body %}
	<div class="search-container">
		<div class="container">
			{{ form(searchForm) }}
			</div>
		</div>
		{% for flash_message in app.flashes('error') %}
			<div class="alert container">
				<p>{{ flash_message }}</p>
			</div>
		{% endfor %}

		<div
			class="results container">
			{# S'il y a des offres d'emplois trouvées#}
			{% if jobs is defined and totalJobs is not same as(0) %}
				<p class="found-jobs">{{ totalJobs }}
					offre(s) trouvée(s) pour
					{{what}}
					à
					{{where}}</p>
				<ul>
					{% for job in jobs %}
						<li class="job-block">
							<p class="job-title">{{ job.title }}</p>
							<div class="job-features">
								<p>{{ job.city }}</p>
								{% if job.contractType is defined %}
									{% for contract in job.contractType %}
										<p>{{ contract }}</p>
									{% endfor %}
								{% endif %}
								<p>{{ job.company }}</p>
							</div>
							<p>{{ job.description | raw }}...</p>
						</li>
					{% else %}
						{# S'il y n'a aucune offres #}
						<p>Pas d'offres trouvées</p>
					{% endfor %}
				</ul>

				<div class="pagination">
					<div class="pagination--inner container">
						{% set totalPages = (totalJobs / 10) | round(0,'ceil') %}

						{# Bouton précédent #}
						{% if currentPage != 1 %}
							<a href=" {{ path('search_jobs', {'page': currentPage -1 , 'what' : what, 'where' : where} ) }}" class="before">&lt;</a>
						{% endif %}

						{# Si < 8 pages d'offres, afficher toutes les pages #}
						{% if totalPages < 8 %}
							{% for i in 1..totalPages %}
								<a href=" {{ path('search_jobs', {'page': i, 'what' : what, 'where' : where} ) }}" class=" {{i == currentPage ? 'active' : ''}} ">
									{{ i }}
								</a>
							{% endfor %}
						{% endif %}

						{# Si > 8 pages d'offres, limiter l'affichage aux 3 premières pages et la dernière #}
						{% if totalPages > 8 %}
							{% for i in 1..3 %}
								<a href=" {{ path('search_jobs', {'page': i, 'what' : what, 'where' : where} ) }}" class=" {{i == currentPage ? 'active' : ''}} ">
									{{ i }}
								</a>
							{% endfor %}

							{# Afficher la page actuelle si elle est supérieure à 3 ou inférieure au nombre total de pages pour éviter les doublons #}
							{% if currentPage > 3  and currentPage != totalPages %}
								<p>...</p>
								<a href=" {{ path('search_jobs', {'page': currentPage, 'what' : what, 'where' : where} ) }}" class="active">{{currentPage}}</a>
							{% endif %}

							{# Ne pas afficher ... après le n° de la page actuelle s'il s'agit de l'avant dernière page #}
							{% if  currentPage != (totalPages - 1)  %}
								<p>...</p>
							{% endif %}

							<a href=" {{ path('search_jobs', {'page': totalPages, 'what' : what, 'where' : where} ) }}" class=" {{totalPages == currentPage ? 'active' : ''}} ">{{totalPages}}</a>

						{% endif %}

						{# Bouton suivant  #}
						{% if totalPages != currentPage %}
							<a href=" {{ path('search_jobs', {'page': currentPage +1, 'what' : what, 'where' : where} ) }}" class="next">
								&gt;</a>
						{% endif %}
					</div>
				</div>

				{# Affichage par défaut #}
			{% else %}
				<section class="header-content">
					<h1>Vos offres d'emploi en temps réel</h1>
					<p class="description">Jobijoba regroupe toutes les offres d'emploi du web et vous les suggère de manière personnalisée
						<br>
						Plus d'1 million d'offres vous attendent dans les secteurs, les métiers et les lieux de votre choix. Vous trouverez aussi des conseils professionnels et des descriptions précises pour vous assister dans votre recherche.</p>
				</section>
			{% endif %}
		</div>
	{% endblock %}
