{% extends "base.html.twig" %}

{% block body %}
	<div class="search-container">
		<div class="container">
			{{ form(searchForm) }}
			</div>
		</div>
		<div
			class="results container">
			{# S'il y a des offres d'emplois trouvées#}
			{% if jobs is defined and totalJobs is not same as(0) %}
				<p class="found-jobs">{{ totalJobs }}
					offre(s) trouvée(s) pour
					{{what}}
					à
					{{where}}</p>
				<ul>
					{% for job in jobs %}
						<li class="job-block">
							<p class="job-title">{{ job.title }}</p>
							<div class="job-features">
								<p>{{ job.city }}</p>
								{% if job.contractType is defined %}
									{% for contract in job.contractType %}
										<p>{{ contract }}</p>
									{% endfor %}
								{% endif %}
								<p>{{ job.company }}</p>
							</div>
							<p>{{ job.description | e }}...</p>
						</li>
					{% else %}
						{# S'il y n'a aucune offres#}
						<p>Pas d'offres trouvées</p>
					{% endfor %}
				</ul>

				<div class="pagination">
					<div class="pagination--inner container">
						{% set totalPages = (totalJobs / 10) | round(0,'ceil') %}
						{% for i in 1..totalPages %}
							<a href=" {{ path('search_jobs', {'page': i, 'what' : what, 'where' : where} ) }}" class=" {{i == currentPage ? 'active' : ''}} ">
								{{ i }}
							</a>
						{% endfor %}
						{# Si >3pages d'offres, limiter aux 3 premirèes  pages et la dernière #}
					{# Si > 3, afficher la currentpage et quelques pages avant et après (2?) #}
						{# Ajouter une flèche pour aller au +1 : vérifier si l'on est pas à la dernière page #}
					{% endif %}

				</div>
			</div>

			{# Affichage par défaut #}
		{% else %}
			<h1>Vos offres d'emploi en temps réel</h1>
		{% endif %}
	</div>
{% endblock %}
